name: Lint

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  Lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: "1.25"
          cache: false
      - name: Lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6
